<!DOCTYPE html>

<html>

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Iceland" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest Guy" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="~/styles/main.css" rel="stylesheet" />
    
    <title>Jeffrey Feng - Full Stack Developer</title>
</head>

<body>
    <div id="intro">
        <div class="introRocket">
            <div class="rocketTop"></div>
            <h3 class="helloText">Hello, I am</h3>
            <div class="bezel1">
                <div class="rivets">
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                </div>
            </div>
            <h1 class="nameText">JEFFREY FENG</h1>
            <div class="bezel2">
                <div class="rivets" id="rivets2">
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                    <div class="rivet"></div>
                </div>
            </div>
            <h3 class="smallText">an aspiring <br />full stack developer <br />based in Houston.</h3>
            <div class="shipBody">
                <div class="window"></div>
            </div>
            <div class="thruster"></div>
            <div class="thruster"></div>
            <div class="thruster"></div>
            <div class="thruster"></div>
            <br />
            <div class="secondRow">
                <div class="thruster"></div>
                <div class="thruster"></div>
                <div class="thruster"></div>
                <div class="thruster"></div>
            </div>

            <div class="fuelContainer">
                <p class="fuel">Drive</p>
                <p class="fuel">Dedication</p>
                <p class="fuel">Motivation</p>
                <p class="fuel">Drive</p>
                <p class="fuel">Dedication</p>
                <p class="fuel">Motivation</p>
            </div>

        </div>

        <div id="mainMenu">
            <h1>Explore</h1>

            <hr />

            <div class="linkBox" id='aboutBox'>
                <div class="bar"></div>
                <div class='linkHolder'>
                    <a href="#about">ABOUT</a>
                </div>
                <div class="bar"></div>
            </div>

            <div class="linkBox" id='projectsBox'>
                <div class="bar"></div>
                <div class='linkHolder'>
                    <a href="#">PROJECTS</a>
                </div>
                <div class="bar"></div>
            </div>

            <div class="linkBox" id='contactBox'>
                <div class="bar"></div>
                <div class='linkHolder'>
                    <a href="#">CONTACT</a>
                </div>
                <div class="bar"></div>
            </div>

        </div>

        <div class="star" id="star1"></div>
        <div class="star" id="star2"></div>
        <div class="star" id="star3"></div>
        <div class="star" id="star4"></div>
        <div class="star" id="star5"></div>
        <div class="star" id="star6"></div>
        <div class="star" id="star7"></div>
        <div class="star" id="star8"></div>
        <div class="star" id="star9"></div>


    </div>

    <div id="about">
        <div class="container">
            <div class="flatLine1"></div>
            <div class="aboutTitle">
                <h1>PROFILE</h1>
            </div>
            <div class="flatLine2"></div>

            <div class="aboutBox">
                <div class="corner1"></div>
                <div class="corner2"></div>
                <div class="corner3"></div>
                <div class="corner4"></div>

                <img src="~/imgs/thumbpic.jpg" class="center-block" />
                <div class="statsBox">
                    <h4>BIO </h4>
                    <hr />
                    <p>Hi. My name is Jeffrey Feng, and I am a self-taught web developer from Houston, Texas. I graduated from UT Austin's Cockrell School of Engineering with a bachelor's degree in Electrical Engineering in 2014, and have since worked for BPM (a device programming firm) as well as HPE. During this time period I have also dedicated myself to developing web applications in my free time, and have grown to love it. My ultimate goal is to make this my career and become a professional full stack developer.</p>
                    <br />
                    <p>Primary skillset: MEAN stack, React, jQuery, .NET[C#] MVC, Mongo, SQL</p>

                </div>

            </div>


        </div>
    </div>

    <div id="projects"> 
        <i class="fa fa-angle-double-left" id="left1"></i>
        <div class="container" id="App">
            <h4 id="loadError">Azure loading error, please refresh the page.</h4>
        </div>
        <i class="fa fa-angle-double-right" id="right1"></i>
    </div>

    <div id="contact">
        <div class="contactBadge" id="emailBadge">
            Email <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="contactBadge" id="gitBadge">
            Github <i class="fa fa-github" aria-hidden="true"></i>
        </div> 
        <div class="contactBadge" id="codepenBadge">
            Codepen <i class="fa fa-codepen" aria-hidden="true"></i>
        </div>
        

    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-with-addons.min.js"></script>
    <script src="~/lib/react/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/js/setup.js"></script>
    <script src="~/js/main.jsx"></script>

</body>


</html>
